.vjs-quality-selector {
   .vjs-menu-button {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
   }
   .vjs-icon-placeholder {
      font-weight: normal;
      font-style: normal;
      &::before {
         content: '\2699';
      }
   }
}

.vjs-quality-changing {
   .vjs-big-play-button {
      display: none;
   }
   .vjs-control-bar {
      display: flex;
      visibility: visible;
      opacity: 1;
   }
}
